@model CustomerVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>
        Welcome @Model.CustomerName!
    </h3>

    <a>@Html.ActionLink("Place Order", "PlaceOrder", new { p_customerID = Model.CustomerID }, new { @class = "btn btn-primary" })</a>
    <a type="button" class="btn btn-secondary" asp-action="Index">Return to Customer List</a>
 
    <table class="table table-striped table-hover" style="position:relative; top: 15px">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Total Cost</th>
                <th>Order Address</th>
                <th>Item List</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var order in Model.CustomerOrders)
            {
                <tr>
                    <td>@order.OrderID</td>
                    <td>@order.OrderPrice</td>
                    <td>@order.OrderAddress</td>
                    <td>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            List of Items
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Item ID</th>
                                                <th>Item Name</th>
                                                <th>Price/Unit</th>
                                                <th>Amount Purchased</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in order.OrderItems)
                                            {
                                                <tr>
                                                    <td>@item.OrderItemID</td>
                                                    <td>@item.Product.ProductName</td>
                                                    <td>@item.Product.ProductPrice</td>
                                                    <td>@item.Quantity</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>